 {% load staticfiles %}
<html>

<head>
    <title>Unikastaroak</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top">
        <div class="container">
            <a class="navbar-brand" href="/">Unikastaroak</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Hasiera <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'categories_list' %}">Kategoriak</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'article_new' %}">Idatzi artikulua <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'article_draft_list' %}">Zirriborroak {{ article_draft_list.articles.count}}<i class="fa fa-archive" aria-hidden="true"></i></a>
                    </li>
                    {% endif %}
                </ul>
                <!--  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Bilatu" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Bilatu</button>
                </form>-->
                {% if user.is_authenticated %} 
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link">Ongi etorri <b class="text-white">{{ user.get_username }}</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'profile' user.get_username  %}">Profile <i class="fa fa-address-card" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'logout' %}">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'login' %}">Login <i class="fa fa-sign-in" aria-hidden="true"></i></a>
                    </li>
                </ul>
                {% endif %}

            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %} {% endblock %}
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>

</html>
 